.nav{
    position: fixed;
    top: 0;
    width: 100%;

    
}
.navmob{
    display: none;

}
.navdesk{
    display:flex ;
    height: 12vh;
    width: 80%;
    margin-left: 10%;
    align-items: center;
    border-bottom: 1px solid black;

}
.navdesk .logo{
    
    font-size: 30px;
    font-weight: 700;
    margin-left: 1px;

}
.navdesk ul{
    display: flex;
    list-style: none;

}
.navdesk a{
    text-decoration: none;
    color: #000;
}
.navdesk .avatar{
    height: 30px;
}
.navdesk .logo{
    margin-left: 0px;
    width: 20%;
}

.navdesk ul{
     gap: 30px;
    flex-wrap: wrap;
    width: auto;
    width: 80%;


    
}


.navdesk .icons{
    position: relative;
    margin-right: 0px;
    width: 20%;
    text-align: right;
  
    
}
.avatar{
    margin-left: 10%;
}
.menu{
    height: 15px;
    margin-left: 20px;
}
.sidebarnone{
    display: none;
}
.sidebar{
    display: block;
    background-color: white;
    width: 60vw;
    height: 100vh;
    text-align: left;

    position: absolute;
    left: 0;
    top: 0;
    padding: 5%;
  
}
.close{
    margin-bottom: 5%;
}
.sidebar ul{
    list-style: none;
    display: flex;
    flex-direction: column;

   
}
.sidebar ul li{
    margin-bottom: 30px;
}

.sidebar a{
    color: black;
    font-weight: 700;
    text-decoration: none;
    
}
.contentcontainer{
    height: 120vh;
    width: 100vw;
    padding-top: 8%;


}
.content{
    width: 80%;
    margin-left: 10%;
    height: 70%;
    /* background-color: aliceblue; */

}
.content{
    display: flex;
    flex-direction: row;
}
.left{
    width: 50%;

    
}

.right{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 6% 5% 2% 5%;
    gap: 5%;
    text-align: left;
}
.left ul{
    display: flex;
}
.product{
    margin-left: 20%;
    width: 60%;
    height: 70%;
    margin-top: 5%;
    border-radius: 20px;
}
.thumbnails{
    width: 60%;
    display: flex;
    gap: 8%;
    margin-left: 20%;
    justify-content: center;
    list-style: none;
    margin-top: 2%;

}
.thumbnails img {
    border-radius: 10px;

    height: 60px;
}
.thumbnails img:hover{
    border: 1px solid hsl(26, 100%, 55%);
    opacity: 0.5;

}
.arrows{
    display: none;
    margin-left: 2%;
}
.arrows img{
    background-color: hsl(0, 0%, 100%);
    padding: 2%;
   height: 30px;
   border-radius: 50%;
}
.intro{
    color: hsl(26, 100%, 55%);
}
.cartdiv{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.cartdiv .pone{
    width: 40%;
    display: flex;
    gap: 20%;
    background-color: azure;
    margin-right: 10%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
.cartdiv .ptwo{
    color: white;
    background-color: hsl(26, 100%, 55%);
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    gap: 10%;

}
.pl, .mn{
   color: hsl(26, 100%, 55%);
    font-weight: 700;
    font-size: 150%;

}
.price{
    display: flex;
    flex-direction: column;
    color: #000;
}

.p-price{
    display: flex;
    gap: 5%;

}
.price1{
    font-weight: 700;


}
.disc{
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
}







/*Mobile*/
@media only screen and (max-width: 768px) {
    .content{
        flex-direction: column;
    }
    .product{
        width: 100vw;
        height: 50vh;
        margin: 0%;
        border-radius: 0;
    }
    .arrows{

        margin-top: -190px;
        display: flex;
        gap: 86vw;
        
    }
    .right{
        margin-top: 170px;

    }

    .left ul{
        display: none;
    }
    .contentcontainer{
        padding-top: 14%;


    }
    .content{
        width: 100%;
        margin-left: 0%;
        height: 90%;


    
    }
    .right{
        width: 100%;
        padding: 3%;
    }
    
    .navmob{
        display: flex;
        height: 6vh;
        justify-content: center;
        align-items: center;
        padding-top: 5%;
    
    }
    .avatar{
        height: 30px;
        margin-left: 20px;
    }
    .cart{
        height: 30px;

    }
    .icons{

        display: flex;
        width: 20%;
        margin-right: 20px;

    }
    .logo{
        width: 80%;
        margin-left: 15px;

    }

    .navdesk{
        display: none;
    }
    .cart{
        flex-direction: column;
        margin-left: 2%;
    }
    .cart .ptwo{
        width: 90%;
        padding: 4%;
    }
    .cart .pone{
        width: 90%;
        padding: 4%;
        margin-bottom: 5%;

    }
    .price{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .cartdiv{
        display: flex;
        flex-direction: column;
        width: 100vw;
        row-gap: 20px;
        margin-top: 20px;
    
    }
    .cartdiv .ptwo{
        width: 80%;
        height: 35%;
        height: 50px;
        justify-content: center;
        align-items: center;

    }
    .cartdiv .pone{
        width: 80%;
        height: 50px;

    }


}